@import "../../../theme/colors"; 

.paginator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.paginator-info {
  margin: 0 10px;
  padding: 8px 15px;
  background-color: $color-grey-soft;
  border-radius: 5px;
}

