<div class="card" *ngIf="product">
  <div class="card-image">
    <img class="card-image__img" [src]="product.images[0]" alt="Imagen del Producto">
  </div>
  <div class="card-content">
    <h1>{{ product.title }}</h1>
    <h6>{{ product.description }}</h6>
    <h3> {{ product.price | currency }} </h3>

    <div class="cart-menu">
      <div class="button-container">
        <ng-container *ngIf="!isShippingCart">
          <button class="btn btn-icon cart-menu__cart-button" (click)="saveCart()"><i
              class="fas fa-cart-arrow-down"></i></button>
          <button class="btn btn-icon cart-menu__cart-controls" (click)="substract()"> <i
              class="fas fa-minus"></i></button>
          <button class="btn btn-secondary cart-menu__cart-controls">{{ articlesQuantity }}</button>
          <button class="btn btn-icon cart-menu__cart-controls" (click)="addCounter()"><i
              class="fas fa-plus"></i></button>
        </ng-container>
        <ng-container *ngIf="isShippingCart">
          <button class="btn btn-icon cart-menu__cart-delete" (click)="removeProduct()"><i
              class="fas fa-trash-alt"></i></button>
        </ng-container>
      </div>
    </div>

    <button class="btn btn-secondary button-redirect" (click)="goToPrincipal()">Seguir comprando</button>


  </div>
</div>