
$color-primary: #fd7014;
$color-background: #eeeeee;
$color-grey: #393E46;
$color-grey-strong: #222831;
$color-grey-soft: rgb(224, 222, 232);
$color-red: red;
$color-white: white;
$color-green: #006D37;